/*头部公共样式*/
$background:(url("../img/sp.fw.png") no-repeat);
/*下标的公共样式*/ 
%i{
    width:11px;
    height:8px; 
    display:inline-block;
    background:$background;
    margin:0 2px;
}
%i1{
    @extend %i;
        width:34px;
        height:34px;
        background-position:-3px -349px;
}

#header{
    font-size:14px;
    color:#777777;
    .header_t{
        background:#FAFAFA;
        .header_tl{
            line-height:30px;
            padding:0 10px;
            cursor:default;
            position:relative;
            &:hover{
                border-left:1px solid #ccc;
                border-right:1px solid #ccc;
                background:#fff;
                padding-left:9px;
            }
            &:hover ul{
                display:block;
            }
            &:hover i{
                background-position:-11px 0 ;
            }
            i{
                @extend %i;
            }
            ul{
                position:absolute;
                top:30px;
                left:-1px;
                width:250px;
                padding:10px;
                border:1px solid #ccc;
                display:none;
                background:#fff;
                z-index:999;
                li{
                    float:left;
                    padding:0 6px;
                    line-height:20px;
                    margin-left:10px;
                     margin-top:5px;
                    border-radius:6px;
                    cursor:pointer;
                    &:hover{
                        background:#EEEEEE;
                        color:#FFA500;
                    }
                }
                .active{
                    color:#fff;
                    background:#FFA500;
                }
            }  
        }
        .header_tr{
            li{
                float:left;
                line-height:14px;
                margin:8px 0 0 10px;
                padding-left:10px;
                cursor:pointer;
                cursor:default;
                position:relative;
                .black{
                    color:#000;
                }
                i{
                    @extend %i;
                }
                .phone{
                    width:17px; 
                    height:22px;
                    background-position:-24px 0;
                    position:absolute;
                    left:4px;
                    top:-2px;
                }
                .weixing{
                    @extend .phone;
                    background-position:-43px 0;
                }
                ul{
                    position:absolute;
                    left:0px;
                    width:90px;
                    display:none;
                    li{
                        padding:0;
                        line-height:18px;
                    }
                }
            }
            .abs{ 
                padding-left:35px;
            }
            .login{
                a{
                    color:#FFA500;
                }
            }
            .black{
                a{
                    color:#000;
                }
            }
            .line{
                border-left:1px solid #ccc;
            }
            .pull{
                ul{
                    background:#fff;
                    width:96px;
                    border:1px solid #ccc;
                    border-top:0 none;
                    z-index:5;
                    li{
                        line-height:26px;
                    }
                }
                &:hover i{
                    background-position:-11px 0;
                }
                &:hover ul{
                    display:block;
                }
            }
            .ma{
                img{
                position:absolute;
                left:0px;
                top:25px;
                display:none;
                z-index:5;
                }
                &:hover img{
                    display:block;
                }
                &:hover .r{
                    background-position:-11px 0;
                }
            }
        }
    }

    .header_c{
        h1{
            width:485px;
            height:98px;
            background:url("../img/logo.png");
        }

        .center{
            .inp{
                width:510px;
                height:42px;
                border:solid #FFA500 3px;
                margin-top:23px;
                .check{
                    height:36px;
                    line-height:36px;
                    padding:0 10px; 
                    background:#F9F9F9;
                    position:relative;
                    cursor:default;
                    i{
                        @extend %i;
                    }
                    &:hover i{
                        background-position:-11px 0;
                    }
                    &:hover ul{
                        display:block;
                    }
                    ul{
                        position:absolute;
                        z-index:4;
                        left:0px;
                        top:36px;
                        width:62px;
                        border:1px solid #ccc;
                        display:none;
                        background:#fff;
                        li{
                            line-height:30px;
                            cursor:pointer;
                            padding-left:10px;
                            &:hover{
                                background:#FFA500;
                                color:#fff;
                            }
                        }
                    }
                }
                input{
                    width:350px;
                    height:36px;
                }
                .sarch{
                    width:84px; 
                    line-height:36px;
                    background:#FFA500;
                    text-align:center;
                    color:#fff;
                    cursor:default;
                    transition:all 1s;
                    &:hover{
                        transform:translate(3px);
                    }
                }
            }

            .hot{
                margin-top:4px;
                li{
                    float:left;
                    margin-right:12px;
                    a{
                        color:#777777;
                    }
                }
                .hot1{
                    color:#FFA500;
                }
            }
        }

        .cart{
            width:148px;
            line-height:42px;
            background:#FAFAFA;
            text-align:center;
            margin-top:23px;
            border:1px solid #ccc;
            cursor:default;
            position:relative;
            padding-left:10px;
            border-radius:4px;
            z-index:4;
            i{
                @extend %i;
            }
            .cart_ico{
                width:26px;
                height:24px;
                position:absolute;
                left:2px;
                top:7px;
                background-position:-68px 0;
            }
            &:hover .cart_ico1{
                background-position:-11px 0;
            }
            &:hover .cart_cooki{
                display:block;
            }
            .cart_cooki{
                position:absolute;
                right:0;
                width:300px; 
                border:1px solid #ccc;
                display:none;
                background:#fff;
                h3{
                    font-weight:bold;
                    text-align:left;
                    border-bottom:1px solid #ccc;
                    padding-left:10px;
                }
                .cart_foot{
                    height:50px;
                    background:#FAFAFA;
                    position:relative;
                    a{
                        color:#fff;
                        background:#FFA500;
                        padding:6px;
                        line-height:18px;
                        border-radius:5px;
                        position:absolute;
                        top:10px;
                        right:10px;
                    }
                }
                ul{
                    overflow:hidden;
                    li{
                        padding:10px;
                        font-size:12px;
                        img{
                            width:50px;
                            height:50px;
                        }
                        .tit{
                            width:140px;
                            line-height:20px;
                            color:#333333;
                            height:50px;
                            text-align:left;
                            margin:0 10px;
                        }
                        div{
                            width:60px;
                            height:50px;
                            line-height:20px;
                            span{
                                color:#875EB9;
                                cursor:pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .nav{
        position:relative;
        h2{
            width:212px;
            line-height:36px;
            background:#FFA500;
            padding-left:40px;
            position:relative;
            color:#fff;
            i{
                @extend %i;
                width:30px;
                height:18px;
                background-position:-100px 0px;
                position:absolute;
                top:9px; 
                left:0px;
            }
            &:hover .recommend{
                display:block;
            }
            .recommend{
                position:absolute;
                left:0;
                padding-left:10px;
                font-size:12px;
                background:rgba(0,0,0,0.7);
                z-index:998;
                display:none;
                height:400px;
                overflow:hidden;
                h4{
                    color:#FFA500;
                }
                ul{
                    li{
                        float:left;
                        margin-right:8px;
                        line-height:22px;
                        a{
                            letter-spacing:1px;
                            color:#fff;
                            transition:all 0.5s;
                        }
                        &:hover a{
                            color:#FFA500;
                        }          
                    }
                }
            }
        }

        .nav_c{
            li{
                float:left;                
                a{
                    line-height:36px;
                    padding:0 18px;
                    color:#333333;
                    transition:all 0.5s;
                }
                &:hover a{
                    color:#FFA500;
                }
                &:hover .menu{
                    display:block;
                }
                .menu{
                    width:988;
                    background:#fff;
                    padding:10px;
                    position:absolute;
                    left:212px; 
                    top:38px;
                    display:none;
                    z-index:100;
                    dl{
                        width:300px;
                        overflow:hidden;
                        margin-right:20px;
                        dt{
                            font-weight:bold;
                            border-bottom:1px solid #ccc;
                            line-height:30px;
                            color:#000;
                        }
                        dd{
                            float:left;
                            margin:6px 10px 0 0;
                            font-size:12px;
                            cursor:default;
                            padding:4px;
                            border-radius:4px;
                            transition:all 0.5s;
                            &:hover{
                                background:#FFA500;
                                color:#fff;
                            }
                        }
                    }
                    .one{
                        height:152px;
                    }
                    .two{
                        height:60px;
                    }
                    .three{
                        height:90px;
                    }
                    .one1{
                        height:124px;
                    }
                }
            }
        }
    }
}



/*固定在右边*/
.fixex_rigin{
    width:37px;
    height:100%;
    background:#000;
    position:fixed;
    top:0;
    right:0;
    z-index:100000;
    .section{
        color:#fff;
        position:absolute;
        top:50%;
        transform:translate(0,-50%);
        .login{
            width:37px;
            height:37px;
            &:hover{
                background:#FFA500;
            }
            &:hover a{
                display:block;
            }
            i{
                @extend %i1;
                margin-right:100px;
            }
            a{
                font-size:12px;
                position:absolute;
                width:100px;
                line-height:37px;
                text-align:center;
                top:0px;
                right:37px;
                background:rgba(0,0,0,0.8);
                color:#fff;
                display:none;
                &:before{
                    content:"";
                    display:block;
                    width:0;
                    height:0;
                    position:absolute;
                    top:8px;
                    right:-17px;
                    border:10px solid #000;
                    border-right-color:transparent;
                    border-top-color:transparent;
                    border-bottom-color:transparent;
                }
            }
        }
        .cart{
            width:37px;
            padding:15px 5px;
            cursor:pointer;
            border-top:1px dotted #AAAAAA;
            border-bottom:1px dotted #AAAAAA;
            i{
                @extend %i1;
                background-position:-57px -354px;
            }
            p{
                width:20px;
                margin-left:5px;
            }
            &:hover{
                background:#FFA500;
            }
        }
        .qq{
            @extend %i1;
            margin-top:10px;
            background-position:-98px -352px;
        }
    }
    .top{
        width:37px;
        height:37px;
        position:fixed;
        bottom:10px;
        right:0px;
        padding-top:4px;
        i{
            @extend %i1;
            width:34px;
            height:26px;
            background-position:-135px -355px;
        }
        &:hover{
            background:#7F5200;
        }
    }
}



/*尾部的公共样式*/ 
#icon{
    border-top:4px solid #E7E7E7;
    padding-top:26px;
    li{
        float:left;
        width:200px;
        text-align:center;
        div{
            width:72px;
            height:69px;
            background:$background;
            margin-left:60px;
        }
        p{
            color:#000;
            font-size:12px;
            line-height:38px;
        }
        .one{
            background-position:0 -32px;
        }
        .two{
            background-position:-80px -31px;
        }
        .three{
            background-position:-163px -31px;
        }
        .four{
            background-position:0 -110px;
        }
        .five{
            background-position:-80px -111px;
        }
        .six{
            background-position:-163px -114px;
        }
    }
}

#link{
   padding:30px 0;
   border-top:4px solid #F9F9F9;
   .link_l{
        width:250px;
        border-right:1px solid #ccc;
        .hotline{
            margin-top:10px;
            width:90px;
            height:74px;
            background:$background;
            background-position:0 -186px;
        }
        .one{
            font-size:20px;
            line-height:30px;
            color:#FFA542;
        }
        .two{
            font-size:12px;
            color:#666666;
            line-height:20px;
        }
   } 

   .link_c{
        width:690px;
        border-right:1px solid #ccc;
        dl{
            width:137px;
            float:left;
            padding-left:30px;
            dt{
                color:#666666;
                font-weight:bold;
            }
            dd{
                font-size:12px;
                line-height:24px;
            }
        }
   }

   .link_r{
        div{
            margin-left:30px;
            p{
                font-size:12px;
                line-height:30px;
                text-align:center;
            }
        }

   }
}

#footer{
    border-top:1px solid #ccc;
    div{
        text-align:center;
        a{
            font-size:12px; 
            color:#666;
            border-right:1px solid #ccc; 
            padding:0 10px;
            line-height:32px;
            &:hover{
                text-decoration:underline;
            }
        }
        .clear{
            border:0 none;
        }
    }
    p{
        text-align:center;
        font-size:12px; 
        line-height:20px;
        color:#666;
    }
}

