@charset "UTF-8";
/*显示下拉菜单*/
#header .nav h2 .recommend { display: block; }

/*轮播图样式*/
#banner { height: 400px; border-top: 2px solid #000; overflow: hidden; position: relative; }

#banner .bannerImg { position: relative; z-index: 1; }

#banner .bannerImg li { width: 100%; height: 400px; position: absolute; }

#banner .bannerImg .one { background-image: url("../img/banner1.jpg"); background-size: cover; }

#banner .bannerImg .two { background-image: url("../img/banner2.jpg"); background-size: cover; }

#banner .bannerImg .three { background-image: url("../img/banner3.jpg"); background-size: cover; }

#banner .bannerImg .four { background-image: url("../img/banner4.jpg"); background-size: cover; }

#banner .tab { position: absolute; left: 46%; top: 95%; z-index: 2; }

#banner .tab li { background: #9EBCB6; width: 24px; height: 6px; margin-right: 10px; border-radius: 5px; float: left; }

#banner .tab .active { background: #FFA500; }

/*recommend*/
#recommend .recommend_l { width: 993px; height: 330px; position: relative; }

#recommend .recommend_l .switch li { float: left; line-height: 50px; font-size: 14px; width: 198px; text-align: center; cursor: default; position: relative; }

#recommend .recommend_l .switch .active { border-bottom: 2px solid #FFA500; color: #FFA500; }

#recommend .recommend_l .switch .active:before { border: 6px solid #FFA500; width: 0px; height: 0px; display: block; border-top-color: transparent; border-right-color: transparent; border-left-color: transparent; position: absolute; left: 45%; bottom: 0; content: " "; }

#recommend .recommend_l .pro ul { border-bottom: 2px solid #F0F0F0; border-top: 2px solid #F0F0F0; position: absolute; }

#recommend .recommend_l .pro ul li { float: left; width: 198px; border-right: 1px solid #F0F0F0; padding: 19px; cursor: pointer; }

#recommend .recommend_l .pro ul li img { height: 160px; }

#recommend .recommend_l .pro ul li .title { height: 40px; overflow: hidden; line-height: 20px; font-size: 12px; color: #000; transition: all 0.5s; }

#recommend .recommend_l .pro ul li .title:hover { color: #FFA500; }

#recommend .recommend_l .pro ul li .price { line-height: 30px; color: #999999; font-size: 12px; }

#recommend .recommend_l .pro ul li .price span { color: #FFA500; }

#recommend .recommend_l .pro ul .clear { border: 0 none; }

#recommend .recommend_r { margin-top: 10px; width: 197px; }

#recommend .recommend_r ul { border: 1px solid #F0F0F0; }

#recommend .recommend_r ul .tit { line-height: 36px; font-weight: bold; background: #F9F9F9; }

#recommend .recommend_r ul li { padding-left: 10px; }

#recommend .recommend_r ul li a { font-size: 12px; color: #555555; line-height: 22px; transition: all 0.5s; }

#recommend .recommend_r ul li a:hover { color: #FFA500; }

#recommend .recommend_r img { width: 197px; height: 140px; margin-top: 10px; }

/*brand*/
#brand p { line-height: 56px; width: 228px; font-size: 20px; color: #666666; background: url("../img/brand16.jpg") no-repeat right center; }

#brand ul { margin-top: 5px; border-bottom: 1px solid #E7E7E7; }

#brand ul li { float: left; }

/*product*/
.fixed { position: fixed; top: 0; }

#product { padding-bottom: 20px; }

#product .skip { padding: 40px 0 20px 0; background: #fff; width: 100%; border-bottom: 1px solid #ccc; }

#product .skip .jump_ding span { padding-right: 20px; width: 121px; border-right: #ccc 1px solid; color: #FFAC00; }

#product .skip li { float: left; width: 121px; line-height: 37px; text-align: center; margin-right: 26px; font-size: 14px; color: #000; cursor: default; }

#product .skip .active { background: #FFAC00; color: #fff; }

#product .left { width: 220px; }

#product .center { width: 500px; }

#product .right { width: 480px; }

#product li { float: left; cursor: pointer; }

#product .qi p { line-height: 77px; font-size: 24px; color: #666666; border-bottom: #60B3FF solid 2px; }

#product .qi .twoF { border-bottom: #FB7192 solid 2px; }

#product .qi .threeF { border-bottom: #35BFCA solid 2px; }

#product .qi div { line-height: 77px; }

#product .qi div a { font-size: 12px; color: #000; margin-left: 10px; }
