#product .point i, #product .product_l .furniture i, #product .product_l dl dt i, #product .product_r .product_rt ul li i, #product .product_r .product_rt .area_check i { width: 16px; height: 14px; display: inline-block; background: url("../img/sp.fw.png") -142px 2px; }

#product { border-top: 2px solid #000; }

#product .point { line-height: 40px; }

#product .point a { font-size: 12px; color: #777777; }

#product .product_l { width: 208px; font-size: 12px; color: #555555; border: 1px solid #ccc; }

#product .product_l .filter { line-height: 37px; background: #F5F5F5; padding-left: 10px; }

#product .product_l .furniture { padding-left: 10px; line-height: 20px; }

#product .product_l .furniture i { width: 13px; height: 13px; background-position: -162px 0; margin-right: 5px; }

#product .product_l dl dt { padding-left: 20px; line-height: 20px; }

#product .product_l dl dt i { width: 13px; height: 13px; background-position: -162px 0; margin-right: 5px; }

#product .product_l dl dd { line-height: 20px; padding-left: 50px; }

#product .product_l dl .active { color: #FFA500; }

#product .product_r { width: 980px; }

#product .product_r .product_rt { background: #F7F7F7; height: 40px; border: 1px solid #D7D7D7; font-size: 12px; color: #777777; }

#product .product_r .product_rt .style { line-height: 37px; padding: 0 10px; border-right: 1px solid #D6D6D6; }

#product .product_r .product_rt ul li { float: left; line-height: 37px; padding: 0 10px; border-right: 1px solid #D6D6D6; cursor: pointer; }

#product .product_r .product_rt ul li i { width: 11px; height: 11px; background-position: -195px 0; }

#product .product_r .product_rt ul li:hover { background: #fff; color: #FFA500; border-bottom: 3px solid #fff; }

#product .product_r .product_rt ul .active { background: #fff; color: #FFA500; border-bottom: 3px solid #fff; }

#product .product_r .product_rt .area { line-height: 37px; margin-left: 74px; }

#product .product_r .product_rt .area_check { width: 70px; text-align: center; line-height: 22px; border: 1px solid #D6D6D6; background: #fff; margin-top: 6px; position: relative; cursor: default; }

#product .product_r .product_rt .area_check:hover i { background-position: -225px 0; }

#product .product_r .product_rt .area_check i { width: 11px; height: 11px; background-position: -209px 0; }

#product .product_r .product_rt .area_check:hover .area_click { display: block; }

#product .product_r .product_rt .area_check .area_click { width: 368px; position: absolute; background: #fff; border: 1px solid #ccc; left: -150px; padding-top: 10px; display: none; }

#product .product_r .product_rt .area_check .area_click p { text-align: left; padding-left: 10px; }

#product .product_r .product_rt .area_check .area_click ul li { float: left; margin-right: 30px; border: 0 none; }

#product .product_r .product_rt .area_check .area_click .province div { width: 80px; float: left; padding-left: 10px; }

#product .product_r .product_rt .area_check .area_click .province div dl { overflow: hidden; width: 50px; margin-top: 10px; }

#product .product_r .product_rt .area_check .area_click .province div dl dt { float: left; }

#product .product_r .product_rt .area_check .area_click .province div dl dd { float: right; border-right: 1px dotted #ccc; padding-right: 10px; }

#product .product_r .product_rt .area_check .area_click .province div dl dd:hover { color: #FFA500; text-decoration: underline; }

#product .product_r .product_rt .area_check .area_click .unlimited { background: #F1F1F1; }

#product .product_r .product_rt .page_t { width: 161px; height: 31px; }

#product .product_r .product_rt .page_t p { width: 50px; line-height: 20px; text-align: center; border: 1px solid #D6D6D6; margin: 7px 7px 0 0; cursor: pointer; background: #fff; }

#product .product_r .product_rt .page_t p:hover { background: #FFA500; color: #fff; }

#product .product_r .product_rc { width: 980px; margin-top: 15px; }

#product .product_r .product_rc li { width: 232px; float: left; margin: 0 0 17px 17px; border: 1px solid #ccc; padding: 10px; text-align: center; cursor: pointer; }

#product .product_r .product_rc li:hover { box-shadow: 0 0 0 3px #FF9900, 2px 4px 8px 2px #888585; }

#product .product_r .product_rc li img { width: 175px; }

#product .product_r .product_rc li p { font-size: 12px; text-align: left; }

#product .product_r .product_rc li .title { color: #333333; transition: all 0.5s; line-height: 20px; }

#product .product_r .product_rc li .title:hover { color: #FF9900; }

#product .product_r .product_rc li .price { font-size: 14px; color: #FF9900; font-weight: bold; }

#product .product_r .product_rc li .price span { color: #999999; font-size: 12px; text-decoration: line-through; font-weight: normal; margin-left: 10px; }

#product .product_r .product_rc li .stock { line-height: 24px; color: #999999; }

#product .product_r .product_rc li:nth-child(4n+1) { margin-left: 0px; }

#product .product_r .page { text-align: center; border: 1px solid #ccc; display: inline-block; margin: 10px 33%; }

#product .product_r .page a { line-height: 36px; display: inline-block; font-size: 12px; color: #000; padding: 0 10px; border-right: 1px solid #ccc; }
